body {
    background-color:rgba(17, 132, 199, 0.979);
    font-family: 'PT Sans Narrow', sans-serif;
}
.Image {
    height:200px;
    margin-left:30px;
    float:left;
    margin-right:30px;

}
#Content {
    position:relative;
    background-color:#ffffff;
    border:1px solid #dddddd;
    left:125px;
    bottom:-15px;
    width:980px;
    height:600px;  
}
p{
    width:900px;
    margin:30px;
}
h2 {
    position:relative;
    right:-30px;
}
hr{
    width:900px;
}
header {
    height:100px;
    border:1px solid #cccccc;
    background-Color:#ffffff;
}
.Links {
    position:absolute;
    right:60px;
    top:50px;
}
.Name {
    position:absolute;
    left:160px;
    height:100px;
    width:200px;
    /* height:103px;
    top:-22px; */
    
}
footer {
    background-Color:#4aaaa5;
    border:5px solid rgb(151, 158, 44);
    bottom:-250px;
    position:absolute;
    width:100%;
    left:0;
}
#Gallery {
    position:absolute;
    left:100px;
}
.Image1 {
    width:250px;
    height:250px;
}
.Image2 {
    width:250px;
    height:250px;
}
.Image3 {
    width:250px;
    height:250px;
}
.Image4 {
    width:250px;
    height:250px;
}
.Image5 {
    width:250px;
    height:250px;
}

.Image6 {
    width:250px;
    height:250px;
}


form {
    text-align:center;
    
}
#Contact {
    position:relative;
    background-color:#ffffff;
    border:1px solid #dddddd;
    left:100px;
    bottom:-15px;
    width:600px;
    height:600px;  
}

.caveat {
    position:absolute;
    right:75 px;
    text-align:left;
    bottom:200px;
}
#Connect {
    width:300px;
    background-color:#ffffff;
    border:1px solid #dddddd;
    height:150px;
    position:relative;
    right:-800px;
    top:-588px;
}
.Info {
   position:absolute;
   left:100px;
   top:0px;
}

.form {
    text-align:left;
    position:absolute;
    right:75px;
}

input:hover {
    color:rgb(27, 105, 177);
}
#footer{
    bottom:-200px;
}



@media screen and (max-width: 980px){

  
    .wrapper {
        
        padding: 20px;
    }

    .Links {
        position: absolute;
        bottom:-50px;
        /* z-index:2 */
        
    }
    #Content{
        width:900px;
        left:1px;
        height:700px;
        bottom:-100px;
    }

    p, hr{
        width:850px;
    }

    #header {
        top:10px;
        float:none;
        width:900px;
        /* z-index: 1; */
        position:absolute;
    }
    #footer{
        bottom:-200px;
    }
    .Name {
        text-align:center;
    }

    #Connect {
        right:-612px;
        top:-500px;
        width:275px;
    }

    .Info {
        left:70px;
    }

    #Contact {
        left:0px; 
        bottom:-100px;
    }

}


@media screen and (max-width: 780px){

  
    .wrapper {
        
        padding: 20px;
    }

    .Links {
        position: relative;
        right:0px;
        top:90px; 
        text-align:center;
        width:700px;
        background-color:#ffffff;
        
    }
    #Content{
        width:700px;
        left:1px;
        height:900px;
        bottom:-100px;
    }

    p, hr{
        width:650px;
    }

    #header {
        top:10px;
        float:none;
        width:700px;
        /* z-index: 1; */
        position:absolute;
    }
    #footer{
        bottom:-400px;
    }
    .Name {
        
        left:250px;
        text-align:center;
    }

    #Connect {
        right:-100px;
        top:110px;
        width:500px;
        height:125px;
    }

    .Info {
        left:175px;
    }

    #Contact {
        left:0px; 
        bottom:-100px;
        width:700px;
    }

    .caveat {
        left:0;
        bottom:-200;
        width:550px;
    }

    .form {
        position:absolute;
        left:150px;
    }

    h2 {

    }

}

@media screen and (max-width: 640px){

  
    .wrapper {
        
        padding: 20px;
    }

    .Links {
        position: relative;
        right:0px;
        top:90px; 
        text-align:center;
        background-color:#ffffff;
        width:550px;
    }
    #Content{
        width:550px;
        left:1px;
        height:1375px;
        bottom:-100px;
    }

    p, hr{
        width:500px;
    }

    #header {
        top:10px;
        float:none;
        width:550px;
        /* z-index: 1; */
        position:absolute;
        }
    #footer{
        bottom:-1000px;
        }
    .Name {
        
        left:190px;
        text-align:center;
    }

    #Gallery {
        position:absolute;
        left:160px;
    }
    #Connect {
        right:-25px;
        top:110px;
        width:500px;
        height:125px;
    }

    .Info {
        left:175px;
    }

    #Contact {
        left:0px; 
        bottom:-100px;
        width:550px;
    }

    .form {
        position:absolute;
        left:75px;
    }


    .caveat {
        left:0px; 
        bottom:-200px;
        width:550px;
    }
